body {
	background: black;
}

.text {
	display:none;
	font-family: "Comic Sans MS", sans-serif;
	color: blue;
	font-size: 25px;
    height: 200px;
    width: 300px;
   float: left;
	position: absolute;
	z-index: 10;
    top: 140px;
    left: 700px;
}
.intro {
	display:none;
	font-family: "Comic Sans MS", sans-serif;
	color: black;
	font-size: 25px;
    height: 250px;
    width: 400px;
   float: left;
	position: absolute;
	z-index: 7;
    top: 110px;
    left: 700px;

}
.intro img {
	height:40%;
	width:60%;
}
.main {
	background-color: white;
	margin-top: 110px;
	padding-left:100px;
	min-width:1200px;
	height:500px;
	position:relative;
	z-index: 1;
}

.ryu {
	width: 659px;
	height: 494px;
}

.ryu-ready, .ryu-still, .ryu-throwing, .ryu-cool, .ryu-stand {
	width: 659px;
	height: 494px;
}

.ryu-ready, .ryu-throwing, .ryu-cool, .ryu-stand{
	display:none;
}
.ryu-ready {
  background-image: url('../images/ryu-ready-position.gif');
}

.ryu-still {
  background-image: url('../images/ryu-standing-still.png');
}

.ryu-throwing {
  background-image: url('../images/ryu-throwing-hadouken.png');
}
.ryu-cool {
	background-image: url('../images/ryu-cool.gif');
}

.hadouken, .ryu-ready, .ryu-still, .ryu-throwing, .ryu-cool, .ryu-stand {
	background-repeat: none;
}
.hadouken {
	background-image: url('../images/hadouken.gif');
	width:156px;
	height: 90px;
	display:none;
	float: left;
	position: absolute;
	z-index: 10;
    top: 167px;
    left: 520px;
}
